// MovieDetail 컴포넌트 scss 적용

.firdiv{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 60px 30px;

}
.img1{
    width: 300px;
    height: 450px;
    border-radius: 0.5rem;
}
.titlediv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 50px;
}
.h1title {
    font-size: 25px;
    font-weight: bold;
}
.secdiv{
    display: flex;
    font-size: 17px;
    gap: 10px;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.pcolor{
    color: gray;
}
.list{
    color: gray;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 0px 5px;
    padding: 5px 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.tirdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.overview{
    color: rgb(77, 76, 76);
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;  // 최대 너비 설정 (필요하면 조절)
    min-height: 100px;  // 최소 높이 설정
    padding: 10px;  // 내부 여백 추가
    line-height: 1.5;  // 줄 간격 조절
    word-wrap: break-word; // 긴 단어 줄 바꿈
}
.button1{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 5px;
    text-align: center;
    &:hover{
        background-color: rgb(80, 80, 80);
    }
}


